@charset "UTF-8";

// colors
$black: #242424;
$white: #fff;
$mint: #15BEC1;
$red: #F5586A;
$error: #F04D4D;
$blue: #4191E2;
$purple: #6E6EE3;
$yellow: #FEE500;



$primary:  #0a7d74;
$primary-light:  #b6c5c7;
$primary-deep:  #0a3138;
$primary-shadow: rgba(163, 28, 28, 0.05);
$primary-shadow-deep:  rgba(10, 125, 116, 0.15);
