#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.mt-5 { margin-top: 5px;}
.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}

.mb-5 { margin-bottom: 5px;}
.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}

.mr-5 { margin-right: 5px;}
.mr-10 { margin-right: 10px;}
.mr-20 { margin-right: 20px;}

.ml-5 { margin-left: 5px;}
.ml-10 { margin-left: 10px;}
.ml-20 { margin-left: 20px;}

.posting-content {
  strong { font-weight: 500; }
  em { font-style: italic; }
  s { text-decoration: line-through; }
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px; }
  h5 { font-size: 13px; }
  h6 { font-size: 12px; }
  ul > li{
    list-style: disc !important;
  }
  ol > li{
    list-style: decimal !important;
  }
}


.main-top {
  &.logo {
    margin: 0.5rem;
    height: 50px;
    top: 0;
    left: 0;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: left;
  }

  &.icons {
    position: relative;
    height: 70px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem 3rem;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    margin-bottom: 3rem;
    .location {
      position: relative;
      width: 4rem;
      display: inline-block;
      padding-right: 15px;

      .circle {
        margin-right: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: aquamarine;
      }

      p {
        position: relative;
        width: 4.2rem;
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.icons::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}


.main-list {
  position: relative;

  .header-icon {
    position: relative;
    width: 100vw;
    .circle {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: aquamarine;
      display: inline-block;
      float: left;
      margin: 0.2rem;
    }
    span {
      font-size: 0.9rem;
      font-weight: bolder;
      float: left;
      line-height: 2rem;
      margin-top: 0.5rem;
    }
  }

  .main-images {
    position: relative;
    margin-bottom: 8rem;
    clear: left;
    margin-top: 2.5rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50, 50);
      width: 100vw;
      height: 100vw;
      object-fit: cover;
      margin: auto;
    }
  }
  .main-images:after {
    content: "";
    display: block;
    padding-bottom: 100vw;
  }

  .posting {
    margin: 0 1rem;
    font-size: 0.8rem;
    position: absolute;
    top: 100vw;
    height: 3rem;
    text-align: left;

    .name {
      font-weight: bolder;
    }

  }
}

.posting-content {
  .main-images {
    position: relative;
    margin-bottom: 8rem;
    clear: left;
    margin-top: 2.5rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50, 50);
      width: 100vw;
      height: 100vw;
      object-fit: cover;
      margin: auto;
    }
  }
  .main-images:after {
    content: "";
    display: block;
    padding-bottom: 100vw;
  }


  .posting {
    .name {
    }
  }

  &.edit {
    border: 1px solid gray;
    height: 30rem;
  }
}

.bottom {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.el-select {
  &.form {
    &.select {
      .el-select-dropdown__item {
        background: $primary-shadow;
        color: $primary;
        &.selected {
          background: $primary-shadow-deep;
        }
      }
    }
  }
}



.input {
  position: relative;
  display: inline-block;
  width: 100vw;

  .input-label {
    display: block;
    font-size: 0.8rem;
    text-align: left;
    margin: 2rem 0 0 1.5rem;
  }

  .input-field{
    margin: 0.5rem 1.5rem;
    .el-input {
      width: 82%;
      height: 1.5rem;
      min-width: 50px;
    }

    .el-button {
      width: 15%;
      margin-left: 3%;
      height: 1.5rem;
      padding: 0;

      span {
        font-size: 0.8rem;
      }
    }

    .el-date-editor {
      width: 48.7%;

      &:first-child{
        margin-right: 2%;
      }

      .el-input__prefix{
        top: 0.5rem
      }
    }

  }
}

.btn-normal {
  background: $primary;
  color: $white;
}

.btn-circle {
  position: relative;
  float: right;
  right: 20px;
  bottom: 20px;
  width: 4rem;
  height: 4rem;
  border-radius:50%;
  background: $primary-deep;
  padding: 0;
  border: 2px solid $primary-shadow-deep;
  span {
    line-height: 65px;
    font-size: 55px;
    color: $primary-light;
    right: -10px;
    font-weight: bolder;
  }
}